
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pressStart';
}

body {
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 14rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.alert {
    margin-top: 1rem;
    background-color: #a197a1;
    width: 95%;
    height: 50%;
    border: 8px groove #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in-top {
	-webkit-animation: fade-in-top 0.4s ease-in both;
	animation: fade-in-top 0.4s ease-in both;
}

.fade-out-top {
	-webkit-animation: fade-out-top 0.4s ease-in both;
	        animation: fade-out-top 0.4s ease-in both;
}

main {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

footer {
    grid-area: footer;
    background-color: #a197a1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1rem groove #a9a9a9;
    opacity: 0.9;
}

#you, #he {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.per1, .per2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.vida1, .vida2 {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 90%;
    height: 60%;
}

.bar1, .bar2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ult1, .ult2 {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.per1 img, .per2 img {
    width: 50%;
    height: 90%;
}

#select {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "op1 op2"
    "op3 op4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* #select {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "inative";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
} */

#reacaoPer1, #reacaoPer2 {
    border: 2px groove #5a595989;
}

.op1 {
    grid-area: op1;
}

.op2 {
    grid-area: op2;
}

.op3 {
    grid-area: op3;
}

.op4 {
    grid-area: op4;
}

.op1, .op2, .op3, .op4 {
    box-sizing: border-box;
    border: 4px groove #5a595989;
    transition: 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.op1:hover, .op2:hover, .op3:hover, .op4:hover {
    background-color: #797479;
    transition: 0.3s;
    cursor: pointer;
}

.attack {
    width: 70%;
    height: 50%;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.damage {
    width: 70%;
    height: 50%;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inative {
    grid-area: inative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px groove #5a595989;
    font-size: xx-large;
}

#life1, #life2 {
    color: black;
    font-size: xx-small;
}

