* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

input {
    opacity: 0;
}

/* Inicio da parte Main */

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: black;
    outline: 1px solid black;
}

.choice {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "per1 per2"
    "cen cen";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18rem 1fr;
}

label {
    display: flex;
    justify-content: center;
    margin: 0;
}

.per1 {
    grid-area: per1;
    background-color: black;
    border: 5px solid transparent;
}

.per2 {
    grid-area: per2;
    background-color: black;
    border: 5px solid transparent;
}

.cen {
    grid-area: cen;
    background-color: black;
}

.enemy { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: black;
}

/* Fim da parte Main */

footer {
    width: 100vw;
    height: 3rem;
    bottom: 0;
    position: fixed;
    background-color: yellow;
}